@model SistemaDeAgendamentoDeViagens.Models.Passageiro

@{
    ViewData["Title"] = "Delete";
}

<h1 style="margin-top:5%;"></h1>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card text-center" id="form-card">
            <div class="card-header" id="form-capa">
                <h4> Deletar passageiro</h4>
            </div>
            <div class="card-body">
                <h4 id="del-text">Nome</h4>
                <h3>
                    @Html.DisplayFor(model => model.Nome_pas)
                </h3>
                <h4 id="del-text">Data de nascimento</h4>
                <h3>
                    @Html.DisplayFor(model => model.Data_nasc_pas)
                </h3>
                <h4 id="del-text">Sexo</h4>
                <h3>
                    @Html.DisplayFor(model => model.Sexo_pas)
                </h3>
                <h4 id="del-text">CPF</h4>
                <h3>
                    @Html.DisplayFor(model => model.CPF_pas)
                </h3>
                <h4 id="del-text">Passaporte</h4>
                <h3 style="text-transform: uppercase;">
                    @Html.DisplayFor(model => model.Passaporte_pas)
                </h3>
                <h4 id="del-text">UF</h4>
                <h3 >
                    @Html.DisplayFor(model => model.UF_pas)
                </h3>
                <h4 id="del-text">Cidade</h4>
                <h3>
                    @Html.DisplayFor(model => model.Cidade_pas)
                </h3>
                <h4 id="del-text">Bairro</h4>
                <h3>
                    @Html.DisplayFor(model => model.Bairro_pas)
                </h3>
                <h4 id="del-text">CEP</h4>
                <h3>
                    @Html.DisplayFor(model => model.CEP_pas)
                </h3>
                <h4 id="del-text">Email</h4>
                <h3>
                    @Html.DisplayFor(model => model.Email_pas)
                </h3>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="PassageiroId" />
                    <input type="submit" value="Deletar" class="btn btn-outline-primary btn-block" id="delete-btn" />
                    <a class="btn btn-outline-primary btn-block" id="form-btn" asp-action="Index">Cancelar</a>

                </form>
            </div>
        </div>
    </div>
</div>

