@model IEnumerable<SistemaDeAgendamentoDeViagens.Models.Passageiro>

@{
    ViewData["Title"] = "Index";
}
<div class="row" id="pass-cre">
    <div class="col-6">

    </div>
    
</div>
<div class="row" id="index-pass">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <a class="card-details" asp-action="Details" asp-route-id="@item.PassageiroId">
                <div class="card mb-4 " id="card-index">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-auto">
                                <h4 id="card-nome" class="card-text">
                                    @{
                                        string[] primeiro_elemento = item.Nome_pas.Split(' ');

                                }@Html.DisplayFor(modelItem => primeiro_elemento[0])
                            </h4>
                            <p class="card-text"> @Html.DisplayFor(modelItem => item.CPF_pas)</p>
                            <p class="card-text" id="card-email"> @Html.DisplayFor(modelItem => item.Email_pas)</p>
                        </div>
                        <div class="col d-flex align-items-end flex-column ">
                            <img class="p-2" src="~/css/img/user-icon-new.png" height="100" width="100" style="border-radius:50px;" />

                            <div class="d-flex mt-auto p-4 justify-content-start align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm" id="btn-pass-edit" asp-action="Edit" asp-route-id="@item.PassageiroId">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                <div class="btn-group" style="margin-left: 5px;">
                                    <a class="btn btn-sm " id="btn-pass-delete" asp-action="Delete" asp-route-id="@item.PassageiroId"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
}
</div>