@model SistemaDeAgendamentoDeViagens.Models.Voo

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top: 5%;"></h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card border-primary mb-3">
                <div class="card-header" id="form-capa">Origem </div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> @Html.DisplayFor(model => model.Origem_voo)</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-primary mb-3">
                <div class="card-header" id="form-capa">Destino </div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> @Html.DisplayFor(model => model.Destino_voo)</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card border-primary mb-3" >
                <div class="card-header" id="form-capa">Data da decolagem</div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> @Html.DisplayFor(model => model.Data_partida_voo)</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-primary mb-3" >
                <div class="card-header" id="form-capa">Data do pouso</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Data_chegada_voo)</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card border-primary mb-3">
                <div class="card-header" id="form-capa"> bairro</div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> @Html.DisplayFor(model => model.Descricao_voo)</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.VooId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
