@model IEnumerable<SistemaDeAgendamentoDeViagens.Models.Voo>

@{
    ViewData["Title"] = "Index";
}
<div class="voo-criar">
    <p>
        <a class="btn btn-outline-primary" id="form-btn" asp-action="Create">Criar Novo</a>
    </p>
</div>

@foreach (var item in Model)
{
<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">World</strong>
        <h3 class="mb-0" id="texto-card-voo">@Html.DisplayFor(modelItem => item.Origem_voo)</h3>
        <div class="mb-1 text-muted"> @Html.DisplayFor(modelItem => item.Data_partida_voo)</div>
        <h3 class="mb-0" id="texto-card-voo">@Html.DisplayFor(modelItem => item.Destino_voo)</h3>
        <div class="mb-1 text-muted">@Html.DisplayFor(modelItem => item.Data_chegada_voo)</div>
    </div>
    <div class="col p-4 d-flex flex-column position-static">
        <p class="card-text mb-auto">@Html.DisplayFor(modelItem => item.Descricao_voo)</p>
        <div class="row">
            <div class="col">
                <a asp-action="Edit" asp-route-id="@item.VooId"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col">
                <a asp-action="Details" asp-route-id="@item.VooId"><i class="fas fa-info"></i></a>
            </div>
            <div class="col">
                <a asp-action="Delete" asp-route-id="@item.VooId"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    </div>



    <div class="col d-none d-lg-block">
        <img src="~/css/img/200x200-shifaaz-shamoon-qtbV_8P_Ksk-unsplash.jpg" alt="Alternate Text" height="210px" width="400px" />
    </div>
</div> 
}

