@model SistemaDeAgendamentoDeViagens.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top:5%;">Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_res)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_res)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco_res)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco_res)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassageiroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passageiro.Passaporte_pas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VooId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voo.Destino_voo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
