@model IEnumerable<SistemaDeAgendamentoDeViagens.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary" id="form-btn" style="margin-top:5%;">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="container" >
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header" id="form-capa">
                    <h4 class="my-0 font-weight-normal">Agendamento</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">R$ <small class="text-muted">@Html.DisplayFor(modelItem => item.Preco_res)</small></h1>
                    <h1 class="card-text"> @Html.DisplayFor(modelItem => item.Data_res)</h1>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header" id="form-capa">
                    <h4 class="my-0 font-weight-normal">Passageiro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title"> @Html.DisplayFor(modelItem => item.Passageiro.Passaporte_pas)</h1>
                    @{
                        string[] primeiro_elemento = item.Passageiro.Nome_pas.Split(' ');

                    }
                    <h1 class="card-title"> @Html.DisplayFor(modelItem => primeiro_elemento[0])</h1>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header" id="form-capa">
                    <h4 class="my-0 font-weight-normal">Voo</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title ">@Html.DisplayFor(modelItem => item.Voo.Origem_voo)</h1>
                    <h1 class="card-title ">@Html.DisplayFor(modelItem => item.Voo.Destino_voo)</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a  asp-action="Edit" asp-route-id="@item.ReservaId" class="btn btn-lg btn-block btn-outline-primary" id="form-btn">Editar</a>
            </div>
            <div class="col">
                <a  asp-action="Details" asp-route-id="@item.ReservaId" class="btn btn-lg btn-block btn-outline-primary" id="form-btn">Detalhes</a>
            </div>
            <div class="col">
                <a  asp-action="Delete" asp-route-id="@item.ReservaId" class="btn btn-lg btn-block btn-outline-primary" id="form-btn">Deletar</a>
            </div>
        </div>
    </div>
}



